<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @milestone.title %>
</p>

<p>
  <b>Description:</b>
  <%= @milestone.description %>
</p>

<p>
  <b>Priority:</b>
  <%= @milestone.priority %>
</p>

<p>
  <b>Assigned:</b>
  <%= @milestone.assigned %>
</p>

<p>
  <b>Due:</b>
  <%= @milestone.due %>
</p>


<%= link_to 'Edit', edit_project_milestone_path(@milestone) %> |
<%= link_to 'Back', project_milestones_path %>
