-# = render "layouts/nav"
%h1 Listing Users
%table
  %tr
    %th Id
    %th Email
    %th Admin?

  - @users.each do |user| 
    %tr{ :class => cycle('odd', 'even') }
      %td= user.id 
      %td= user.email
      %td= gravatar('chad.bartels@gmail.com', 50) 
      %td= link_to 'Show', user 
      %td= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete 
