<h1>Uploads</h1>
<table>
	<tr>
		<th>File Name</th>
		<th>Image</th>
		<th>Created</th>
	</tr>


	
<% @uploads.each do |x| %>
<% d = x.created_at %>
<tr>
  <td><%= x.upload_file_name%></td>
  <td><%= image_tag x.upload.url(:original) %></td>
  <td><%= d.strftime('%b %d, %Y') %></td>
  <td><%= link_to 'Show', project_upload_path(@project, x) %></td>
  <td><%= link_to 'Edit', edit_project_upload_path(@project, x) %></td>
  <td><%= link_to 'Destroy', project_upload_path(@project, x), :confirm => 'Are you sure?', :method => :delete %></td>
</tr>
<% end %>
</table>

<%= link_to 'New Upload', new_project_upload_path %>