%header
  %section.page
    = link_to image_tag("logo.png"), root_path
    %span#user_email
      = gravatar('chad.bartels@gmail.com', 50)
      Hello, #{current_user.email}
    = if can? :update, @project
      %span#header_link 
        = link_to "Manage Projects", projects_manage_url
    = if can? :update, @user
      %span#header_link 
        = link_to "Manage Users", users_url