%header
  %section.page
    = link_to image_tag("logo.png"), root_path
    %span#user_email
      = gravatar(current_user.email, 50)
      Hello, #{current_user.email}
    %span#header_link
      = link_to "Invite Users", new_user_invitation_path
    - if can? :update, @project
      %span#header_link
        = link_to "Manage Projects", projects_manage_url
    - if can? :update, @user
      %span#header_link
        = link_to "Manage Users", users_url
    